MIST_TOKEN="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
MIST_HOST="api.mist.com"
MIST_ORG_ID="xxxxxxxxxx-xxxxx-xxxxx-xxxxx-xxxxxxxxxxxxxxx"
MIST_SITE_IDS="xxxxxxxxxx-xxxxx-xxxxx-xxxxx-xxxxxxxxxxxxxxx,xxxxxxxxxx-xxxxx-xxxxx-xxxxx-xxxxxxxxxxxxxxx"
MIST_SYNC_TIME=5
MONGO_HOST="mongo_server"
MONGO_DB="snmp"
MONGO_USER="root"
MONGO_PASSWORD="secret"
SNMP_VERSION=2
SNMP_V2C_COMMUNITY="public"
SNMP_V3_USER="test"
SNMP_V3_AUTH_PROTOCOL="SHA"
SNMP_V3_AUTH_KEY="mysecret"
SNMP_V3_PRIV_PROTOCOL="AES"
SNMP_V3_PRIV_KEY="mysecret"
SNMP_LISTENING_IP=
SNMP_OID=65535